/* GLOBAL.CSS | Global styles for MyBeanJar Puzzle */
/* line 7, ../scss/global.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* line 15, ../scss/global.scss */
body {
  background-color: #34B8F6;
}

/* line 19, ../scss/global.scss */
p {
  margin: 0 0 1em;
  font-size: 60%;
  line-height: 125%;
}

/* line 25, ../scss/global.scss */
p:last-child {
  margin: 0 0 0;
}

/* line 29, ../scss/global.scss */
a {
  color: #c59a1e;
}

/* line 33, ../scss/global.scss */
#puzzle-container {
  -webkit-border-image: url(../img/ab-border003.png) 100 100 stretch;
       -o-border-image: url(../img/ab-border003.png) 100 100 stretch;
          border-image: url(../img/ab-border003.png) 100 100 stretch;
  border-style: solid;
}

/* line 38, ../scss/global.scss */
.hidden {
  display: none;
}

/* line 42, ../scss/global.scss */
#puzzImg {
  width: 100%;
  height: 100% !important;
}

/* line 47, ../scss/global.scss */
#puzz-outer {
  margin-bottom: 5%;
  width: 100%;
  height: auto;
}

/* line 53, ../scss/global.scss */
.jqp-piece {
  background-size: 300%;
  width: 33.33%;
  height: 33.33%;
}

/* line 59, ../scss/global.scss */
.jqp-background {
  background-size: 100%;
  height: 100%;
  width: 100%;
}

/* line 65, ../scss/global.scss */
.all-columns {
  width: 80%;
}

/* line 69, ../scss/global.scss */
#hintbutton {
  position: relative;
  cursor: pointer;
  margin: 0% 15%;
  width: 70%;
}

/* line 76, ../scss/global.scss */
#hintbutton:active {
  position: relative;
  cursor: pointer;
  margin: 0% 15.5%;
  width: 69%;
}

/* line 83, ../scss/global.scss */
.jqPuzzle .jqp-wrapper {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

/* line 87, ../scss/global.scss */
.jqp-wrapper {
  width: 100%;
  height: 100%;
}

/* line 92, ../scss/global.scss */
.pg-page {
  height: 100%;
}

/* line 96, ../scss/global.scss */
#puzz-outer
#ab-bg-container {
  padding-top: 10vh;
  height: 71vh;
}

/* line 102, ../scss/global.scss */
#bam-title {
  position: absolute;
  z-index: 5;
  display: block;
  margin: 0% 10%;
  top: 0;
  width: 80%;
}

/* line 111, ../scss/global.scss */
.ab-bg-container {
  position: absolute;
  display: block;
  z-index: -5;
  background: url(../img/ab-bg002.jpg);
  background-size: cover;
  width: 100%;
  height: inherit;
}

/* line 121, ../scss/global.scss */
#bg-container-outer {
  display: none;
}

/* line 125, ../scss/global.scss */
.ab-bg-accents {
  position: absolute;
}

/* line 129, ../scss/global.scss */
#accent-upperright {
  top: 0;
  right: 0;
}

/* line 134, ../scss/global.scss */
#accent-lowerleft {
  bottom: 0;
  left: 0;
}

/* BUTTONS *****************************************************************************************/
/* line 141, ../scss/global.scss */
.btn-ab {
  margin: 0 auto;
  display: block;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  border: none;
}

/* line 149, ../scss/global.scss */
.btn-ab:focus {
  outline: none;
}

/* line 153, ../scss/global.scss */
.btn-ab-r {
  background: url(../img/ab-sbubb-r-clr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 1.1rem;
  min-height: 60px;
}

/* line 161, ../scss/global.scss */
.btn-ab-r:hover {
  background: url(../img/ab-sbubb-r-act.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 168, ../scss/global.scss */
.btn-ab-l {
  background: url(../img/ab-sbubb-l-clr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 1.1rem;
    min-height: 60px;
}

/* line 176, ../scss/global.scss */
.btn-ab-l:hover {
  background: url(../img/ab-sbubb-l-act.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/***************************************************************************************************/
/* APP PAGES ***********************************************************************************/
/* line 189, ../scss/global.scss */
.content {
  height: 100%;
}

/* line 193, ../scss/global.scss */
#title-page {
  display: block;
  z-index: 99;
  position: relative;
}

/* line 199, ../scss/global.scss */
.title-bits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  margin: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 219, ../scss/global.scss */
.title-bits .sm-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  height: 100%;
  width: 100%;
}

/* line 226, ../scss/global.scss */
#ios-buffer {
  display: none;
}

/* line 230, ../scss/global.scss */
.intro {
  height: 100%;
}

/* line 234, ../scss/global.scss */
#intro01 {
  display: block;
}

/* line 238, ../scss/global.scss */
#intro02 {
  display: none;
}

/* line 242, ../scss/global.scss */
#puzzle-page {
  display: none;
}

/* line 246, ../scss/global.scss */
.start-large-logo {
  /*  max-width: 100%;
    max-height: 22vh;*/
  width: 100%;
}

/* line 253, ../scss/global.scss */
.start-ab-logo {
  margin-top: 5%;
}

/* line 257, ../scss/global.scss */
.start-cbldf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 auto;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}

/* line 264, ../scss/global.scss */
.start-cbldf-logo {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

/* line 271, ../scss/global.scss */
.start-cbldf-descrip {
  font-family: 'komika-disp', cursive;
  font-size: 0.8rem;
  color: #ffffff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  letter-spacing: 0.05rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 2 auto;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
}

/* line 283, ../scss/global.scss */
.start-buttons {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: komika;
  src: url(../font/komika.ttf);
}
@font-face {
  font-family: komika-disp;
  src: url(../font/komika-disp.ttf);
}
/***************************************************************************************************/
/* line 306, ../scss/global.scss */
#hintloader {
  background-color: #ffffff;
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 5;
  pointer-events: none;
}

/* line 315, ../scss/global.scss */
#hintloader img {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  position: relative;
}

@media all and (max-width: 600px) and (orientation: portrait) {
  /* Mobile portrait */
  /* line 332, ../scss/global.scss */
  body {
    background-color: #493c41;
  }

  /* line 336, ../scss/global.scss */
  #app {
    position: relative;
    height: 100%;
    /* 16 of 16:9; */
    /*width: 39.375vw; */
    /*  9 of 16:9; */
    overflow: hidden;
  }

  /* line 345, ../scss/global.scss */
  .container {
    width: 70vw;
    /* Necessary to maintain 1:1 ratio of inner container */
    height: 70vw;
  }

  /* line 351, ../scss/global.scss */
  .ab-bg-accents {
    max-height: 100%;
  }

  /* line 355, ../scss/global.scss */
  .btn-ab {
    width: 63vw;
    /* 70vw */
 /*   height: 19.467vw;*/
    /* Must be 30.9% of height */
  }

  /* Title screen exception */
  /* line 361, ../scss/global.scss */
  .title-element .btn-ab {
    width: 100%;
    height: 20vmin;
  }

  /* line 366, ../scss/global.scss */
  .title-bits {
    height: 80%;
    /* Crude fix for iOS Safari's nav footer issue */
  }

  /* line 370, ../scss/global.scss */
  .pg-page {
    height: 100% !important;
    display: none;
  }

  /* line 375, ../scss/global.scss */
  .mbj-footer {
    font-size: 5vw;
  }

  /* line 379, ../scss/global.scss */
  #puzz-outer,
  #ab-bg-container {
    /*height: 82vh;*/
  }

  /* line 384, ../scss/global.scss */
  #puzzImg,
  .jqp-wrapper,
  #hintloader {
    height: 70vw !important;
    width: 70vw;
  }

  /* line 391, ../scss/global.scss */
  #puzzle-container {
    border-width: 15vw;
    /* Must equal 1/2 of remainder of height and width described immediately above */
  }

  /* line 395, ../scss/global.scss */
  .start-large-logo {
    width: 75vw;
  }

  /* line 399, ../scss/global.scss */
  .footer-header-strip {
    font-size: 2vh;
  }
}
@media all and (orientation: landscape) {
  /* Desktop landscape */
  /* line 407, ../scss/global.scss */
  body {
    font-size: 3vh !important;
  }

  /* line 411, ../scss/global.scss */
  #app {
    position: relative;
    height: 70vh;
    /* 16 of 16:9; */
    width: 39.375vh;
    /*  9 of 16:9; */
    border: 3vh solid #fff;
    overflow: hidden;
    margin: 5vh auto;
    box-sizing: content-box;
    border-radius: 4vh;
    border-bottom: 10vh solid #fff;
    border-top: 10vh solid #fff;
    box-shadow: 1.5vh 1.5vh 0px 0.5vh rgba(0, 0, 0, 0.5);
  }

  /* line 427, ../scss/global.scss */
  .container,
  #hintloader {
    width: 24.5vh;
    /* Necessary to maintain 1:1 ratio of inner container */
    height: 24.5vh;
  }

  /* line 434, ../scss/global.scss */
  .ab-bg-accents {
    max-height: 100%;
  }

  /* line 438, ../scss/global.scss */
  #bg-container-outer {
    display: block;
  }

  /* line 442, ../scss/global.scss */
  .btn-ab {
    width: 22.05vh;
/*    height: 6.81345vh;*/
    /* Must be 30.9% of height */
  }

  /* Title screen exception */
  /* line 448, ../scss/global.scss */
  .title-element .btn-ab {
    width: 100%;
    height: 8vmin;
  }

  /* line 453, ../scss/global.scss */
  #puzzle-container {
    border-width: 7.25vh;
    /* Must equal 1/2 of remainder (relative to real/simulated viewport) of height and width described immediately above */
  }

  /* line 457, ../scss/global.scss */
  #hintbutton:active {
    margin-top: 1px;
  }

  /* line 461, ../scss/global.scss */
  .mbj-footer {
    font-size: 2vh;
  }
}
@media all and (min-width: 600px) and (orientation: portrait) {
  /* Desktop portrait */
  /* line 469, ../scss/global.scss */
  body {
    font-size: 3vw !important;
  }

  /* line 473, ../scss/global.scss */
  #app {
    position: relative;
    height: 70vw;
    /* 16 of 16:9; */
    width: 39.375vw;
    /*  9 of 16:9; */
    border: 3vw solid #fff;
    overflow: hidden;
    margin: 5vw 22.6875vw;
    box-sizing: content-box;
    border-radius: 4vw;
    border-bottom: 10vw solid #fff;
    border-top: 10vw solid #fff;
    box-shadow: 1.5vw 1.5vw 0px 0.5vw rgba(0, 0, 0, 0.5);
  }

  /* line 490, ../scss/global.scss */
  .container,
  #hintloader {
    width: 21.87vh;
    /* Necessary to maintain 1:1 ratio of inner container */
    height: 21.87vh;
  }

  /* line 497, ../scss/global.scss */
  .ab-bg-accents {
    max-width: 100%;
  }

  /* line 501, ../scss/global.scss */
  #bg-container-outer {
    display: block;
  }

  /* line 505, ../scss/global.scss */
  .btn-ab {
    width: 24.3vh;
    height: 6.75783h;
    /* Must be 30.9% of height */
  }

  /* Title screen exception */
  /* line 511, ../scss/global.scss */
  .title-element .btn-ab {
    width: 100%;
    height: 8vmin;
  }

  /* line 516, ../scss/global.scss */
  #puzzle-container {
    border-width: 7.25vh;
    /* Must equal 1/2 of remainder (relative to real/simulated viewport) of height and width described immediately above */
  }

  /* line 520, ../scss/global.scss */
  .start-large-logo {
    /*    max-width: 100%;
        max-height: 22vh;*/
  }

  /* line 525, ../scss/global.scss */
  .mbj-footer {
    font-size: 1.75;
  }
}
/* line 531, ../scss/global.scss */
img.comicscode {
  max-width: 30%;
  float: right;
  padding: 0 0 1rem 1rem;
}

/* line 537, ../scss/global.scss */
#info-page,
#image-preview,
#mbj_notification_container_login {
  display: none;
}

/* line 543, ../scss/global.scss */
.nav-button {
  color: #ffffff;
}

/* line 547, ../scss/global.scss */
.preview-nav {
  margin-bottom: 1rem;
  display: inline-block;
}
