/* MyBeanJar Experimental Modal Styles */
/*//// SCSS variable pile ////*/
/* color scheme */
/* hopefully temporary */
/* TYPOGRAPHY */
/* line 11, ../sass/mbjModal.scss */
html, body {
  height: 100%;
  /* root and body MUST be height 100% */
  position: relative;
  /* Required for proper resizing on iOS Safari and other mobile browsers*/
}

/* line 16, ../sass/mbjModal.scss */
.mbj-modal,
#mbj_modal {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: 999999999;
  display: none;
}
/* line 26, ../sass/mbjModal.scss */
.mbj-modal a,
#mbj_modal a {
  color: #b39a13;
}

/* line 31, ../sass/mbjModal.scss */
#modal-tbody, #modal-tr, #modal-td {
  height: 100%;
  /* All table elements should be height 100% */
}

/* line 35, ../sass/mbjModal.scss */
#modal-td {
  vertical-align: middle;
}

/* line 39, ../sass/mbjModal.scss */
#modal-content {
  position: relative;
  left: 100%;
  height: auto;
  /* HEIGHT optional, any unit */
  /* max-height: 80%; /* MAX-HEIGHT optional, if height auto, must be % */
  /* min-height: 80px; /* MIN-HEIGHT optional, any unit */
  /* max-width: 225px; /* MAX-WIDTH optional, any unit */
  /* min-width: 80px; /* MIN-WIDTH optional, any unit */
  margin: 0 auto;
  /* border: 1px solid; */
  /* background: #eaeaea; */
  overflow: auto;
}

/* LEGACY CRUDDY CODE */
/* line 55, ../sass/mbjModal.scss */
#mbj-youvewon-init {
  height: 399px;
  background-color: black;
  background-image: url("../img/youcouldvewon.png");
  position: relative;
  background-repeat: no-repeat;
}

/* line 64, ../sass/mbjModal.scss */
#mbj-notification-youve-won {
  max-width: none;
  width: 343px;
  padding: 0px;
  display: block;
  position: relative;
}

/* line 72, ../sass/mbjModal.scss */
#mbj-label-init-username {
  float: left;
  color: white;
  background: black;
  font-size: 8pt;
  font-family: Arial;
  width: 80px;
  text-align: center;
}

/* line 82, ../sass/mbjModal.scss */
#mbj-field-init-username {
  float: left;
  padding-right: 5px;
  margin-top: 0px;
}
/* line 87, ../sass/mbjModal.scss */
#mbj-field-init-username #mbj_form_u {
  width: 120px;
  background-color: silver;
  float: left;
  border-color: black;
  border-width: 3px;
}

/* line 97, ../sass/mbjModal.scss */
form.mbj-form button.submit {
  height: 24px;
  margin-top: 0px;
  float: right;
  background: white;
}
/* line 103, ../sass/mbjModal.scss */
form.mbj-form button.submit span {
  color: black;
}
/* line 108, ../sass/mbjModal.scss */
form.mbj-form input,
form.mbj-form select {
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

/* line 114, ../sass/mbjModal.scss */
#mbj-onboard-buttons {
  margin-left: 10px;
  position: absolute;
  bottom: 4px;
}

/* line 121, ../sass/mbjModal.scss */
.mbj-aside,
.mbj-form-label {
  color: #a9a9a9 !important;
}

/* line 126, ../sass/mbjModal.scss */
.btn-location {
  margin-top: 0 !important;
  height: inherit;
}

/* END LEGACY CRUDDY CODE */
/* line 135, ../sass/mbjModal.scss */
.mbj_notification_sub_inner {
  width: 270px;
  padding: 5px;
  margin-top: 262px;
  margin-left: 10px;
  background: black;
}

/* line 146, ../sass/mbjModal.scss */
.mbjBigButton {
  width: 200px;
  height: 75px;
}

/* line 151, ../sass/mbjModal.scss */
.geolocator-block {
  display: inline-block;
  font-family: inherit;
  color: #ffc200;
  font-size: 0.75rem;
}
/* line 158, ../sass/mbjModal.scss */
.geolocator-block .notification-geolocator span {
  padding-left: 0.5rem;
}

/*** - ADAPTIVE LAYOUTS - ***/
/* Generic mobile portrait */
@media all and (max-device-width: 667px) and (orientation: portrait) {
  /* line 178, ../sass/mbjModal.scss */
  .mbj_notification {
    width: 343px;
  }

  /* line 183, ../sass/mbjModal.scss */
  #modal-content {
    zoom: 2;
    width: inherit;
  }
}
/* Desktop landscape */
@media all and (orientation: landscape) {
  /* line 198, ../sass/mbjModal.scss */
  .mbj_notification {
    width: 343px;
  }

  /* line 202, ../sass/mbjModal.scss */
  #modal-content {
    width: 456px;
  }
}
/* Desktop portrait */
@media all and (min-width: 600px) and (orientation: portrait) {
  /* line 215, ../sass/mbjModal.scss */
  #modal-content {
    width: 456px;
  }
}
