@charset "UTF-8";
/* CSS Document */
/*//// SCSS variable pile ////*/
/* color scheme */
/* hopefully temporary */
@import "https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext";
@font-face {
  font-family: Museo;
  src: url(../font/Museo300-Regular-webfont.woff);
}
/* line 60, ../sass/mbjNotifier.scss */
.mbj_notification {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222229', endColorstr='#37373e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  -webkit-transform: translateZ(0);
}

/* line 68, ../sass/mbjNotifier.scss */
.mbj_notification_container_container {
  position: absolute;
  top: 25%;
  left: 35%;
}

/* line 75, ../sass/mbjNotifier.scss */
.mbj_notification_container {
  font-size: 1rem !important;
  font-family: 'Museo','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;
  color: #cccccc;
  position: relative;
  margin: 0px auto;
  z-index: 10;
  top: -100%;
  -webkit-transform: translateZ(0);
  padding: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  border: 3px solid #101010;
  background-clip: padding-box !important;
  background: rgba(255, 255, 255, 0.75);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222229', endColorstr='#37373e',GradientType=1 );
  width: 75%;
  max-height: 78% !important;
  overflow: inherit;
  margin-top: 5vh;
}

/* line 99, ../sass/mbjNotifier.scss */
.mbj_notification_inner {
  background: #000000;
  border-radius: 4px;
  padding: 10px;
  padding-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 300px;
}

/* line 111, ../sass/mbjNotifier.scss */
.mbj_notification_beanticker {
  min-height: 80px;
  margin: 2rem -10px;
}

/* line 116, ../sass/mbjNotifier.scss */
.action-buttons {
  position: relative;
}
/* line 119, ../sass/mbjNotifier.scss */
.action-buttons button {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 128, ../sass/mbjNotifier.scss */
.mbj-form-block {
  margin: 0.5rem 0;
}
/* line 134, ../sass/mbjNotifier.scss */
.mbj-form-block:last-of-type {
  margin-bottom: 0;
}

/* line 139, ../sass/mbjNotifier.scss */
.mbj-button-text {
  text-align: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* line 145, ../sass/mbjNotifier.scss */
.mbj-button-icon i {
  font-size: 1.5rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  float: left;
  /* hack for Firefox's flex issues */
}

/* line 151, ../sass/mbjNotifier.scss */
.category-list {
  max-height: 200px;
  overflow: scroll;
}

/* line 163, ../sass/mbjNotifier.scss */
.mbj_notification_container input,
.mbj_notification_container option {
  color: #666 !important;
}

/* line 168, ../sass/mbjNotifier.scss */
.mbj_notiication_pane {
  display: inline-block;
  width: auto;
}

/* line 173, ../sass/mbjNotifier.scss */
.mbj_notification_copy {
  padding: 0.75em 0;
  font-family: Museo, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #999999;
  clear: both;
  line-height: 125%;
  text-align: justify;
  letter-spacing: -0.01em;
}
/* line 183, ../sass/mbjNotifier.scss */
.mbj_notification_copy:first-of-type {
  padding-top: 0;
}
/* line 187, ../sass/mbjNotifier.scss */
.mbj_notification_copy p {
  margin: 0.5em 0;
  font-size: 0.75rem;
  color: white;
}
/* line 193, ../sass/mbjNotifier.scss */
.mbj_notification_copy p:first-of-type {
  margin-top: 0;
}

/* line 205, ../sass/mbjNotifier.scss */
.two-column {
  position: absolute;
  bottom: 24px;
  margin: 15px 0;
  width: 273px;
}

/* line 212, ../sass/mbjNotifier.scss */
.mbj_login_status img {
  width: 20%;
  height: auto;
  vertical-align: middle;
  position: relative;
}

/* line 219, ../sass/mbjNotifier.scss */
p.status {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 80%;
}

/* line 226, ../sass/mbjNotifier.scss */
p.fail {
  color: #fff;
}

/* line 230, ../sass/mbjNotifier.scss */
p.success {
  color: #fff;
}

/* line 234, ../sass/mbjNotifier.scss */
div.fail {
  background-color: #c21010;
  border-radius: 3px;
}

/* line 239, ../sass/mbjNotifier.scss */
div.success {
  background-color: #0fc314;
  border-radius: 3px;
}

/* line 244, ../sass/mbjNotifier.scss */
input.fail {
  background-color: #c21010;
}

/* line 248, ../sass/mbjNotifier.scss */
input.success {
  background-color: #0fc314;
}

/* line 252, ../sass/mbjNotifier.scss */
.btn-mbj {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
  background-color: #e6611c;
  background-repeat: repeat-x;
  border-bottom-color: #e6611c;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #fe8630;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #fe8630;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #fe8630;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
  cursor: pointer;
  display: inline-block;
  font-family: Museo, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  height: 30px;
  outline-width: 0px;
  padding-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5px;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.24706) 0px -1px 0px;
  text-transform: none;
  vertical-align: middle;
  color: #ffffff;
}
/* line 297, ../sass/mbjNotifier.scss */
.btn-mbj:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 303, ../sass/mbjNotifier.scss */
.btn-mbj.green {
  background-color: lightgreen;
  border-color: lightgreen;
  color: #000000;
  font-size: 8pt;
}

/* line 311, ../sass/mbjNotifier.scss */
.btn-facebook {
  background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
  background-image: linear-gradient(to bottom, #627aad, #3b5998);
  border-color: #3B5998;
}
/* line 315, ../sass/mbjNotifier.scss */
.btn-facebook:active {
  background-image: -webkit-linear-gradient(bottom, #627aad, #3b5998);
  background-image: linear-gradient(to top, #627aad, #3b5998);
}

/* line 320, ../sass/mbjNotifier.scss */
.btn-category {
  background-image: -webkit-linear-gradient(top, #0850b4, #04285a);
  background-image: linear-gradient(to bottom, #0850b4, #04285a);
  border-color: #0850b4;
}
/* line 324, ../sass/mbjNotifier.scss */
.btn-category:active {
  background-image: -webkit-linear-gradient(bottom, #0850b4, #04285a);
  background-image: linear-gradient(to top, #0850b4, #04285a);
}
/* line 328, ../sass/mbjNotifier.scss */
.btn-category.btn-category-selected {
  background-image: -webkit-linear-gradient(top, #29b637, #2c6f00);
  background-image: linear-gradient(to bottom, #29b637, #2c6f00);
  border-color: #29b637;
}
/* line 332, ../sass/mbjNotifier.scss */
.btn-category.btn-category-selected:active {
  background-image: -webkit-linear-gradient(bottom, #29b637, #2c6f00);
  background-image: linear-gradient(to top, #29b637, #2c6f00);
}
/* line 337, ../sass/mbjNotifier.scss */
.btn-category .mbj-button-text {
  text-align: left;
}

/* line 343, ../sass/mbjNotifier.scss */
.ab-free-play {
  margin: 0.5rem 0;
}

/* line 347, ../sass/mbjNotifier.scss */
.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 200;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  background-color: transparent;
}

/* line 360, ../sass/mbjNotifier.scss */
.btn-close img {
  width: 100% !important;
}

/* line 364, ../sass/mbjNotifier.scss */
.btn-close:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  outline: none;
}

/* line 371, ../sass/mbjNotifier.scss */
.btn-close img {
  display: block;
  width: 16px;
}

/* line 376, ../sass/mbjNotifier.scss */
.background {
  height: 120%;
  width: 120%;
  text-align: center;
  background: url(../img/sx_rog_assets_scenic_bg002.jpg);
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -20;
  -webkit-transform: translateZ(0);
}

/* line 390, ../sass/mbjNotifier.scss */
.mbj_login_response {
  background-color: #2b2c33;
  font-size: 14px;
  font-family: 'Museo','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;
  color: #cccccc;
  max-width: 300px;
  width: auto;
  position: relative;
  padding: 15px;
  min-height: 1em;
  min-width: 1em;
  background-color: #2b2c33;
  border: 2px solid rgba(255, 255, 255, 0.49804);
  border-radius: 8px;
  color: #cccccc;
  display: block;
  font-family: 'Museo','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  max-width: 300px;
  padding: 15px;
  position: relative;
  vertical-align: baseline;
}

/* line 416, ../sass/mbjNotifier.scss */
.mbj_login_status {
  display: none;
  padding: 15px;
  margin: 8px;
  margin-top: 24px !important;
  height: 50px;
  -webkit-font-smoothing: none;
  border-radius: 8px;
  background-color: transparent;
}

/* line 427, ../sass/mbjNotifier.scss */
img.mbj_loading {
  margin: 0 auto;
  display: block;
  padding: 85px;
}

/* line 433, ../sass/mbjNotifier.scss */
#spinner_login {
  position: relative;
  padding: 15px;
  height: 50%;
}

/* line 439, ../sass/mbjNotifier.scss */
.bean_notification_window {
  position: relative;
  top: -50%;
  width: 80%;
  background-color: #ddd;
  color: #ccc;
  display: none;
  border: 1px solid #222229;
  font-family: 'Museo','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;
  -webkit-transform: translateZ(0);
  margin: 0 auto;
  z-index: 500;
}

/* line 453, ../sass/mbjNotifier.scss */
.bean_notification_text {
  position: absolute;
  top: 0;
  left: 50px;
  height: 30px;
  margin: 0;
  padding: 10px;
  font-size: 75%;
  color: #ffffff;
  vertical-align: middle;
  line-height: 30px;
  display: table-cell;
  text-align: right;
  width: 130px;
  -webkit-transform: translateZ(0);
}

/* line 470, ../sass/mbjNotifier.scss */
.bean_notification_text p {
  position: relative;
  top: 0px;
  left: 70px;
  padding-left: 16px;
}

/* line 477, ../sass/mbjNotifier.scss */
.bean_notification_image {
  min-height: 199px;
}

/* line 481, ../sass/mbjNotifier.scss */
img.bean_notification_image {
  width: 100%;
  background-image: url(../img/activity_indicator.gif);
  background-position: center;
  background-repeat: no-repeat;
}

/* line 488, ../sass/mbjNotifier.scss */
p.mbj_caption {
  font-size: 0.7rem;
  color: #666;
  padding: 10px;
  background-color: #ddd;
  text-align: center;
}

/* line 497, ../sass/mbjNotifier.scss */
.mbj_login {
  display: none;
  margin: 0px auto;
  width: 1000px;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 35%;
  -webkit-transform: translateZ(0);
}

/* line 508, ../sass/mbjNotifier.scss */
.mbj_award_img {
  width: 100%;
}

/* line 512, ../sass/mbjNotifier.scss */
.mbj_notifier_header {
  width: 100%;
}

/* line 516, ../sass/mbjNotifier.scss */
.mbj_login_or_register {
  vertical-align: top;
  background-color: rgba(128, 128, 128, 0.1);
  display: none;
}

/* line 522, ../sass/mbjNotifier.scss */
.active_pane {
  display: block;
}

/* line 526, ../sass/mbjNotifier.scss */
.inactive_pane {
  display: none;
}

/* line 530, ../sass/mbjNotifier.scss */
.active_selector {
  background-color: rgba(128, 128, 128, 0.1);
}

/* line 534, ../sass/mbjNotifier.scss */
.inactive_selector {
  background-color: rgba(128, 128, 128, 0.05);
}

/* line 538, ../sass/mbjNotifier.scss */
.mbj_notification_title {
  text-align: center;
  margin-top: 20px;
}

/* line 543, ../sass/mbjNotifier.scss */
.mbj_notification_title img {
  float: left;
  margin-top: 8px;
}

/* line 548, ../sass/mbjNotifier.scss */
.mbj_notification_title h2 {
  margin: 0.2em auto;
  display: inline;
  top: 1em;
  position: relative;
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

/* line 558, ../sass/mbjNotifier.scss */
.mbj_notification_pane_selector {
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 0.8rem 0;
  text-align: center;
  cursor: pointer;
  font-size: 0.7rem;
}

/* line 568, ../sass/mbjNotifier.scss */
.mbj_notification_pane_selectors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 574, ../sass/mbjNotifier.scss */
input#mbj_form_u,
input#mbj_form_p {
  font-size: 0.7rem;
}

/* line 579, ../sass/mbjNotifier.scss */
label.title,
label.large {
  font-size: 0.75rem !important;
}

/* line 584, ../sass/mbjNotifier.scss */
.mbj_notification_pane_selector h2 {
  text-transform: uppercase;
  display: inline;
  vertical-align: middle;
}

/* line 590, ../sass/mbjNotifier.scss */
.hint {
  box-shadow: inset 0px 0px 30px 10px #ffdd15;
}

/* line 594, ../sass/mbjNotifier.scss */
.nada {
  display: none;
}

/* MBJ Form Styles */
/* default-skyblue */
/* line 604, ../sass/mbjNotifier.scss */
html {
  height: 100%;
}

/* line 608, ../sass/mbjNotifier.scss */
.formoid-default-skyblue {
  margin: 0 auto;
}

/* line 612, ../sass/mbjNotifier.scss */
.formoid-default-skyblue > div {
  margin: 8px;
}

/* line 616, ../sass/mbjNotifier.scss */
.formoid-default-skyblue .large {
  width: 100%;
  *width: 94%;
}

/* line 621, ../sass/mbjNotifier.scss */
.mbj-form {
  margin: 0 auto;
}
/* line 624, ../sass/mbjNotifier.scss */
.mbj-form .element-input {
  margin-top: 0.5rem;
}
/* line 627, ../sass/mbjNotifier.scss */
.mbj-form .element-input:first-of-type {
  margin-top: 0;
}
/* line 633, ../sass/mbjNotifier.scss */
.mbj-form button {
  margin-top: 0.5rem;
}
/* line 636, ../sass/mbjNotifier.scss */
.mbj-form button:first-of-type {
  margin-top: 1.25rem;
}

/* line 646, ../sass/mbjNotifier.scss */
.mbj-form .large {
  width: 100%;
  *width: 94%;
}

/* address select style */
@font-face {
  font-family: formoid;
  src: url("formoid.eot");
  src: url("formoid.eot?#iefix") format("embedded-opentype"), url("formoid.ttf") format("truetype"), url("formoid.woff") format("woff"), url("formoid.svg#formoid") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 664, ../sass/mbjNotifier.scss */
.formoid-default-skyblue {
  color: inherit;
  padding: 5px;
}

/* line 669, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox] {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

/* line 674, ../sass/mbjNotifier.scss */
.formoid-default-skyblue label {
  display: block;
  font-size: 1em;
  margin-bottom: 3px;
  clear: both;
}

/* line 681, ../sass/mbjNotifier.scss */
.formoid-default-skyblue div,
.formoid-default-skyblue span,
.formoid-default-skyblue label,
.formoid-default-skyblue input,
.formoid-default-skyblue button {
  font-family: inherit;
  color: inherit;
}

/* line 690, ../sass/mbjNotifier.scss */
.mbj-form input[type=checkbox] {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

/* line 695, ../sass/mbjNotifier.scss */
.mbj-form label {
  display: block;
  font-size: 1em;
  margin-bottom: 3px;
  clear: both;
}

/* line 702, ../sass/mbjNotifier.scss */
.mbj-form div,
.mbj-form span,
.mbj-form label,
.mbj-form input,
.mbj-form button {
  font-family: inherit;
  color: inherit;
}

/* Global Declaration */
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/
/* Button & submit*/
/* Radio & checkbox */
/* line 727, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox] {
  z-index: 1;
  position: absolute;
  float: left;
  width: 1em;
  height: 1.3em;
  font-size: 1em;
  opacity: 0.01;
  margin: 0;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}

/* line 740, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox] + span {
  height: 19px;
  margin-right: -19px;
  padding-top: 0;
  z-index: 0;
  position: relative;
  left: 0;
  top: 0;
  vertical-align: top;
  line-height: 1.4;
  cursor: pointer;
  display: block;
}

/* line 754, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox] + span:before {
  font-family: formoid;
  color: transparent;
  text-align: center;
  vertical-align: top;
  margin-right: 0.4em;
  border: 1px solid #BCBCBC;
  background-color: #fff;
  background: -moz-linear-gradient(top, #fff, #E3E3E3);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E3E3E3));
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ffffff,endColorstr=#E3E3E3,GradientType=0);
  zoom: 1;
  background: -webkit-linear-gradient(top, #ffffff, #e3e3e3);
  background: linear-gradient(to bottom, #ffffff, #e3e3e3);
  background-clip: border-box;
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-origin: border-box;
  -moz-background-origin: border;
  -webkit-background-origin: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* checkbox */
/* line 779, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox] + span:before {
  content: "✓";
  font-size: 0.8em;
  padding: 0.1em;
  line-height: 1.8;
  border-radius: 0.3em;
}

/* line 789, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox]:hover + span:before {
  box-shadow: 0 0 2px 2px #F1F1F1;
}

/* line 793, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=checkbox]:checked + span:before {
  color: #616161;
}

/* radio */
/* line 799, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=text],
.formoid-default-skyblue input[type=password],
.formoid-default-skyblue input[type=email] {
  padding: 6px 2%;
  font-family: inherit;
  font-size: 0.8em;
  font-size: 0.8rem;
  font-weight: normal;
  /*background-image: -ms-linear-gradient(top, #444444, #999999); /* IE10 */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#22000000', EndColorStr='#00FFFFFF'); /* IE6�IE9 */
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Saf4+, Chrome */
  /* FF3.6 */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18), transparent 4px, transparent);
  /* Chrome 10+, Saf5.1+ */
  /* Opera 11.10+ */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-radius: 3px;
  outline: 0;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.5rem;
}

/* .formoid-default-skyblue color scheme begin */
/* line 834, ../sass/mbjNotifier.scss */
.full-width {
  width: 100%;
}

/* line 838, ../sass/mbjNotifier.scss */
.formoid-default-skyblue input[type=text]:focus,
.formoid-default-skyblue input[type=password]:focus,
.formoid-default-skyblue input[type=email]:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e6611c;
  border-color: #e6611c;
  /*background-image: -ms-linear-gradient(top, #444444, #999999); /* IE10 */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#22000000', EndColorStr='#00FFFFFF'); /* IE6–IE9 */
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Saf4+, Chrome */
  /* FF3.6 */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.19), transparent 5px, transparent);
  /* Chrome 10+, Saf5.1+ */
  /* Opera 11.10+ */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
          transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

/* line 858, ../sass/mbjNotifier.scss */
.mbj-form input[type=checkbox] + span:before {
  content: "✓";
  font-size: 0.8em;
  padding: 0.1em;
  line-height: 1.8;
  border-radius: 0.3em;
}

/* line 868, ../sass/mbjNotifier.scss */
.mbj-form input[type=checkbox]:hover + span:before {
  box-shadow: 0 0 2px 2px #F1F1F1;
}

/* line 872, ../sass/mbjNotifier.scss */
.mbj-form input[type=checkbox]:checked + span:before {
  color: #616161;
}

/* radio */
/* line 878, ../sass/mbjNotifier.scss */
.mbj-form input[type=text],
.mbj-form input[type=password],
.mbj-form input[type=email] {
  padding: 6px 2%;
  font-family: inherit;
  font-size: 0.8em;
  font-size: 0.8rem;
  font-weight: normal;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-radius: 3px;
  outline: 0;
  box-sizing: border-box;
  height: 1.5rem;
}

/* line 897, ../sass/mbjNotifier.scss */
.mbj-form input[type=text]:focus,
.mbj-form input[type=password]:focus,
.mbj-form input[type=email]:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e6611c;
  border-color: #e6611c;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0));
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
          transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

/* .formoid-default-skyblue color scheme end */
/* line 909, ../sass/mbjNotifier.scss */
.mbj-footer {
  font-family: Museo, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #999999;
  clear: both;
  line-height: 125%;
  text-align: justify;
  letter-spacing: -0.01em;
  display: block;
  opacity: 1;
  font-size: 0.75rem;
  text-align: center;
  /*background: linear-gradient(135deg, #222229 47%,#37373e 100%);*/
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0%;
  width: 100%;
}

/* line 928, ../sass/mbjNotifier.scss */
.mbj-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

/* line 933, ../sass/mbjNotifier.scss */
.mbj-footer p {
  margin: 1em 0;
}

/* line 937, ../sass/mbjNotifier.scss */
.slider_h3 {
  color: #cccccc;
  font-size: 0.5rem;
  text-align: left;
  line-height: 0.6rem;
}

/* line 944, ../sass/mbjNotifier.scss */
.slider_div {
  line-height: 0.7rem;
  height: 100% !important;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 954, ../sass/mbjNotifier.scss */
.slider_image {
  margin-bottom: 0.5rem;
}

/* line 958, ../sass/mbjNotifier.scss */
#slider_components {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 965, ../sass/mbjNotifier.scss */
.footer-header-strip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #37383d;
  font-size: 0.75rem;
  /* height: 3vh; */
  line-height: 2rem;
  border-bottom: 1px solid #282828;
  box-sizing: border-box;
  background: #4a4b51;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a4b51), color-stop(100%, #2c2c30));
  background: -webkit-linear-gradient(top, #4a4b51 0%, #2c2c30 100%);
  background: linear-gradient(to bottom, #4a4b51 0%, #2c2c30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4b51', endColorstr='#2c2c30',GradientType=0 );
  cursor: pointer;
}

/* line 986, ../sass/mbjNotifier.scss */
.footer-header-strip-title {
  color: #dc5214;
  text-align: left;
  width: 70%;
  padding-left: 3%;
}

/* line 993, ../sass/mbjNotifier.scss */
.footer-header-strip-counter {
  color: #c09853;
  text-align: right;
  width: 100%;
  padding-right: 3%;
}

/* line 1000, ../sass/mbjNotifier.scss */
.footer-signup-strip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #37383d;
  width: 100%;
}

/* line 1006, ../sass/mbjNotifier.scss */
button#footer-signup {
  background-color: #fe8630;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-family: museo;
  width: 40%;
  text-align: left;
}

/* line 1016, ../sass/mbjNotifier.scss */
#mbj-footer-logo {
  width: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 1022, ../sass/mbjNotifier.scss */
img#footer-logo {
  width: 100%;
}

/* line 1026, ../sass/mbjNotifier.scss */
#mbj-footer-cta {
  width: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c09853;
  line-height: 1.5rem;
}

/* line 1035, ../sass/mbjNotifier.scss */
#mbj-footer-cta-sub {
  border: 0.5vh solid #222;
  background-color: #222 !important;
  width: 100%;
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 1044, ../sass/mbjNotifier.scss */
.footer-cta-title {
  font-size: 0.7rem;
  padding-left: 0.25rem;
  padding-right: 0.75rem;
  width: 50%;
}

/* line 1051, ../sass/mbjNotifier.scss */
#splash-fade {
  pointer-events: none;
}

/* line 1055, ../sass/mbjNotifier.scss */
.form-checkbox {
  font-size: 0.7rem !important;
  color: #a9a9a9;
}

/* line 1060, ../sass/mbjNotifier.scss */
.frosted-overlay {
  width: 96%;
  height: 86%;
  /* background-image: url(../img/reflect.png); */
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  opacity: 0.5;
  margin: 2%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: blur(3px);
          filter: blur(3px);
  border-style: ridge;
  border-radius: 0.2rem;
  border-top: 0.8rem ridge rgba(255, 255, 255, 0.2);
  /*border-left: 0.1rem ridge rgba(255,255,255,0.7);*/
  box-sizing: border-box;
  border-bottom: 1rem ridge rgba(255, 255, 255, 0.05);
}

/* line 1085, ../sass/mbjNotifier.scss */
#main_container {
  background-color: rgba(40, 40, 60, 0.7);
  box-shadow: inset 0 0 12rem rgba(165, 225, 255, 0.6);
  position: relative;
}

/* line 1091, ../sass/mbjNotifier.scss */
#slider_components * h3 {
  text-shadow: 0px 0px 3px #000000 !important;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

/* line 1097, ../sass/mbjNotifier.scss */
img.grippy {
  width: auto;
  height: 50%;
  position: relative;
  margin-left: 2%;
}

/* line 1104, ../sass/mbjNotifier.scss */
.newcount {
  -webkit-animation: newcountglow 1s 1 linear;
  animation: newcountglow 1s 1 linear;
}

@-webkit-keyframes newcountglow {
  0% {
    text-shadow: 0px 0px 0px #c09853;
    color: #c09853;
  }
  25% {
    text-shadow: 0px 0px 2px #c09853;
    color: #c09853;
  }
  50% {
    text-shadow: 0px 0px 4px #c09853;
    color: #ffffff;
  }
  75% {
    text-shadow: 0px 0px 2px #c09853;
    color: #c09853;
  }
  100% {
    text-shadow: 0px 0px 0px #c09853;
    color: #c09853;
  }
}
@keyframes newcountglow {
  0% {
    text-shadow: 0px 0px 0px #c09853;
    color: #c09853;
  }
  25% {
    text-shadow: 0px 0px 2px #c09853;
    color: #c09853;
  }
  50% {
    text-shadow: 0px 0px 4px #c09853;
    color: #ffffff;
  }
  75% {
    text-shadow: 0px 0px 2px #c09853;
    color: #c09853;
  }
  100% {
    text-shadow: 0px 0px 0px #c09853;
    color: #c09853;
  }
}
/* line 1194, ../sass/mbjNotifier.scss */
.btn-ab-iap li {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
  background-color: rgba(16, 16, 16, 0.8);
  background-repeat: repeat-x;
  border-color: #04285a;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Museo, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  outline-width: 0px;
  padding-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5px;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.24706) 0px -1px 0px;
  text-transform: none;
  vertical-align: middle;
  color: #ffffff !important;
  box-sizing: border-box;
}

/* line 1228, ../sass/mbjNotifier.scss */
li.ab-btn-iap-active {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
  background-color: maroon;
}

/* line 1233, ../sass/mbjNotifier.scss */
.listing-info li {
  list-style: inside none disc;
  font-size: 15px;
  margin: 15px 0;
  color: #ff0;
}

/* line 1240, ../sass/mbjNotifier.scss */
.listing-page-custom {
  padding: 10px;
  float: left;
}

/* line 1245, ../sass/mbjNotifier.scss */
.listing-listing li {
  /*    background: #021CA1;
      color: #ffff00;*/
  float: left;
  font-size: 15px;
  list-style: outside none none;
  margin: 2px 0;
  padding: 4px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 1258, ../sass/mbjNotifier.scss */
.listing-listing img {
  float: left;
}

/* line 1262, ../sass/mbjNotifier.scss */
.example span {
  color: #000;
}

/* line 1266, ../sass/mbjNotifier.scss */
.listing-listing span {
  font-size: 18px;
  margin: 10px 0 10px 4px;
  vertical-align: top;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  color: #fff;
  /*    font-family:"Comic Sans MS", cursive;*/
}

/* line 1276, ../sass/mbjNotifier.scss */
.listing-listing input {
  float: left;
  height: 49px;
  vertical-align: middle;
  width: 27px;
}

/* line 1283, ../sass/mbjNotifier.scss */
.iap-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
}

/* IAP button contents */
/* line 1291, ../sass/mbjNotifier.scss */
.btn-ab-iap img,
.btn-ab-iap span,
.btn-ab-iap input {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* line 1297, ../sass/mbjNotifier.scss */
.btn-ab-iap-flextainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

/* line 1304, ../sass/mbjNotifier.scss */
.btn-ab-iap div > img,
.btn-ab-iap div > span,
.btn-ab-iap div > input {
  margin: 5px;
}

/* line 1322, ../sass/mbjNotifier.scss */
.iap-btn-container {
  float: right;
  right: 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* line 1329, ../sass/mbjNotifier.scss */
.btn-ab-buy {
  min-width: 100%;
  min-height: 5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

/* line 1338, ../sass/mbjNotifier.scss */
.unused {
  display: none;
}

/* line 1349, ../sass/mbjNotifier.scss */
.ab-title {
  font-family: bangers;
  text-align: center;
  color: #f8b430;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/* line 1356, ../sass/mbjNotifier.scss */
#info-page {
  background-color: rgba(0, 0, 0, 0.75);
  overflow: scroll;
}

/* line 1361, ../sass/mbjNotifier.scss */
.info-container {
  padding: 2rem;
  padding-top: 0;
  min-height: 100%;
}

/* line 1368, ../sass/mbjNotifier.scss */
.info-title {
  font-family: bangers;
  text-align: left;
  color: #f8b430;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  margin: 1rem 0;
}

/* line 1376, ../sass/mbjNotifier.scss */
#listing-descrip {
  margin: 2rem 0;
}

/* line 1380, ../sass/mbjNotifier.scss */
.listing-blurb {
  font-family: 'komika-disp', cursive;
  font-size: 0.8rem;
  color: #ffffff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  letter-spacing: 0.05rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
  margin: 1rem 0;
}

/* line 1392, ../sass/mbjNotifier.scss */
.basic-para,
.des-info-new p {
  font-family: 'komika-disp', cursive;
  font-size: 0.8rem;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  letter-spacing: 0.05rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 2 auto;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: left;
  margin: 1rem 0;
}

/* line 1405, ../sass/mbjNotifier.scss */
.basic-para a {
  color: #30aff1;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-decoration: none;
}

/* line 1411, ../sass/mbjNotifier.scss */
.incomplete {
  background-color: #ff7f7f;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
}

/* line 1416, ../sass/mbjNotifier.scss */
.required-item {
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
}

/* line 1420, ../sass/mbjNotifier.scss */
.btn-back img {
  display: block;
}

/* line 1425, ../sass/mbjNotifier.scss */
.btn-back img {
  width: 100% !important;
}

/* line 1429, ../sass/mbjNotifier.scss */
.btn-back {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 200;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  background-color: transparent;
}

/* line 1454, ../sass/mbjNotifier.scss */
.info-nav {
  padding: 1rem 2rem 0 2rem;
}

/* line 1458, ../sass/mbjNotifier.scss */
.info-cbldf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

/* line 1465, ../sass/mbjNotifier.scss */
.info-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1px;
      -ms-flex: 1 1 1px;
          flex: 1 1 1px;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  width: 100%;
}

/* line 1472, ../sass/mbjNotifier.scss */
.btn-preview-close {
  z-index: 200;
  border: none;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  background-color: transparent;
  float: right;
}

/* line 1483, ../sass/mbjNotifier.scss */
.btn-preview-close img {
  width: 2rem;
  height: 2rem;
}

/* line 1492, ../sass/mbjNotifier.scss */
.pop-page-custom {
  /* padding: 10px; */
  padding: 2rem;
  min-height: 100%;
  background-color: rgba(16, 16, 16, 0.8);
}

/* line 1512, ../sass/mbjNotifier.scss */
.des-info-new .title {
  color: #f8b430;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 1519, ../sass/mbjNotifier.scss */
.des-info-new .artist {
  color: #fff88e;
  font-size: 1rem;
  margin-top: 0;
}

/* line 1531, ../sass/mbjNotifier.scss */
button.btn-iap {
  height: 60px;
  width: 60px;
  text-align: center;
  margin: 2px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 0;
}

/* line 1541, ../sass/mbjNotifier.scss */
button.btn-iap > span {
  text-align: center !important;
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin-left: 0;
  margin-right: 0;
}
/* line 1549, ../sass/mbjNotifier.scss */
button.btn-iap > span i {
  font-size: 24px;
}

/* line 1554, ../sass/mbjNotifier.scss */
.btn-info {
  background-color: #04285a;
  background-image: -webkit-linear-gradient(top, #0850b4, #04285a);
  background-image: linear-gradient(to bottom, #0850b4, #04285a);
  border-color: #0850b4;
}

/* line 1560, ../sass/mbjNotifier.scss */
.btn-info:active {
  background-color: #04285a;
  background-image: -webkit-linear-gradient(top, #04285a, #0850b4);
  background-image: linear-gradient(to bottom, #04285a, #0850b4);
  border-color: #0850b4;
}

/* line 1566, ../sass/mbjNotifier.scss */
.btn-play {
  background-color: #29b637;
  background-image: -webkit-linear-gradient(top, #29b637, #2c6f00);
  background-image: linear-gradient(to bottom, #29b637, #2c6f00);
  border-color: #29b637;
}

/* line 1572, ../sass/mbjNotifier.scss */
.btn-play:active {
  background-color: #29b637;
  background-image: -webkit-linear-gradient(top, #2c6f00, #29b637);
  background-image: linear-gradient(to bottom, #2c6f00, #29b637);
  border-color: #29b637;
}

/* line 1578, ../sass/mbjNotifier.scss */
.btn-purchase {
  background-color: #ffc200;
  background-image: -webkit-linear-gradient(top, #ffc200, #f8b430);
  background-image: linear-gradient(to bottom, #ffc200, #f8b430);
  border-color: #fff300;
}

/* line 1584, ../sass/mbjNotifier.scss */
.btn-purchase:active {
  background-color: #ffc200;
  background-image: -webkit-linear-gradient(top, #f8b430, #ffc200);
  background-image: linear-gradient(to bottom, #f8b430, #ffc200);
  border-color: #fff300;
}

/* line 1596, ../sass/mbjNotifier.scss */
.metadata {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* line 1601, ../sass/mbjNotifier.scss */
#slider1_container_t {
  max-width: 100%;
}

/* line 1605, ../sass/mbjNotifier.scss */
a.password-recovery {
  text-align: right;
  float: right;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}
/* line 1614, ../sass/mbjNotifier.scss */
a.password-recovery:hover {
  color: white;
}
